extends ../layouts/default
include ../mixins/sidebar
include ../mixins/amp-style

block head
  title #{data.post.title} - qmau.me
  script(async='', custom-element='amp-facebook-like', src='https://cdn.ampproject.org/v0/amp-facebook-like-0.1.js')
  script(async='', custom-element='amp-facebook-comments', src='https://cdn.ampproject.org/v0/amp-facebook-comments-0.1.js')
  script(async='', custom-element='amp-social-share', src='https://cdn.ampproject.org/v0/amp-social-share-0.1.js')
  meta(name='description', content= data.post.content.brief.md )
  link(rel='canonical', href='https://qmau.me/blog/post/' + data.post.slug)
  // Schema.org markup for Google+
  meta(itemprop='name', content= data.post.title + " - qmau.me")
  meta(itemprop='description', content= data.post.content.brief.md)
  meta(itemprop='image', content= "https://qmau.me" + data.post.image.url)
  !=data.post.amp.md
  // Twitter Card data
  meta(name='twitter:title', content= data.post.title + " - qmau.me")
  meta(name='twitter:description', content= data.post.content.brief.md )
  meta(name='twitter:image', content= "https://qmau.me" + data.post.image.url)
  meta(name='twitter:image:alt', content='Blog của Mầu - qmau.me')
  // Open Graph data
  meta(property='og:title', content= data.post.title + " - qmau.me")
  meta(property='og:type', content='article')
  meta(property='og:image', content= "https://qmau.me" + data.post.image.url)
  meta(property='og:url', content='https://qmau.me/blog/post/' + data.post.slug)
  meta(property='og:description', content= data.post.content.brief.md )
  meta(property='og:site_name', content='Blog của Mầu - qmau.me')
  link(href='https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&font-display=swap', rel='stylesheet')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic&font-display=swap')
  script(async='', custom-element='amp-web-push', src='https://cdn.ampproject.org/v0/amp-web-push-0.1.js')
  script(type='application/ld+json').
    {"@context":"http://schema.org","@type":"BlogPosting","mainEntityOfPage":{"@type":"Blog","@id":"https://qmau.me"},"headline":"#{data.post.title}","image":"https://qmau.me#{data.post.image.url}","datePublished":"#{data.post.publishedDate}","dateModified":"#{data.post.publishedDate}","author":{"@context":"http://schema.org","@type":"Person","name":"Mau Ha Quang","url":"https://www.qmau.me","sameAs":["https://www.facebook.com/qmau94","https://www.github.com/qmau94","https://twitter.com/qmau94","https://www.linkedin.com/in/qmau94/"]},"publisher":{"@type":"Organization","name":"qmau.me","logo":{"@type":"ImageObject","url":"https://qmau.me/logo.png"}},"description":"#{data.post.content.brief.md}"}
  +amp-style
block body
  header#top-header.www-header.center
    h1.mb1 #{data.post.title}
    time.block.mb4.caps.text-decoration-none(datetime=data.post._.publishedDate.format("YYYY-DD-MMTHH:MM:SS+09:00")) #{data.post._.publishedDate.format("MMMM D, YYYY")}
    .www-index-header-action.mx-auto
      each cat in data.post.categories
        a.ampstart-btn.ampstart-btn-secondary.caps.mb1.mx2.text-decoration-none.inline-block(href='/blog/' + cat.key) #{cat.name}
  amp-selector(layout='container')
    main.flex.pl2.mt1
      aside.www-components-sec-nav.col-2.xs-hide.sm-hide.relative
        +sidebar(data)
      article.www-components.flex-auto.col-8
        section.www-component-desc
          p.mb2.px1
            !=data.post.content.full
        section.www-component-desc
          p.mb2.px1
            strong Tags:
            =" "
            each tag in data.post.tags
              a(href='/tag/' + tag.key)
                code ##{tag.name}
              =" "
        section.www-component-desc
          p.mb2.px4
            amp-facebook-like(width='90', height='20', layout='fixed', data-layout='button_count', data-size='large', data-show_faces='true', data-href='https://qmau.me/blog/post/' + data.post.slug)
          p.mb2.px1
            amp-web-push#amp-web-push(layout='nodisplay', helper-iframe-url='https://qmau.me/amp-helper-frame.html?appId=1d2e91e5-373c-4750-9b9d-4e68e2361b6b', permission-dialog-url='https://qmau.me/amp-permission-dialog.html?appId=1d2e91e5-373c-4750-9b9d-4e68e2361b6b', service-worker-url='https://qmau.me/OneSignalSDKWorker.js?appId=1d2e91e5-373c-4750-9b9d-4e68e2361b6b')
            amp-web-push-widget(visibility='unsubscribed', layout='fixed', width='300', height='45')
              button.subscribe(on='tap:amp-web-push.subscribe')
                amp-img.subscribe-icon(width='24', height='24', layout='fixed', alt='subscribeButton', src='data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ic3Vic2NyaWJlLWljb24iIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMS44NCAxOS44ODdIMS4yMnMtLjk0Ny0uMDk0LS45NDctLjk5NWMwLS45LjgwNi0uOTQ4LjgwNi0uOTQ4czMuMTctMS41MTcgMy4xNy0yLjYwOGMwLTEuMDktLjUyLTEuODUtLjUyLTYuMzA1czIuODUtNy44NyA2LjI2LTcuODdjMCAwIC40NzMtMS4xMzQgMS44NS0xLjEzNCAxLjMyNSAwIDEuOCAxLjEzNyAxLjggMS4xMzcgMy40MTMgMCA2LjI2IDMuNDE4IDYuMjYgNy44NyAwIDQuNDYtLjQ3NyA1LjIyLS40NzcgNi4zMSAwIDEuMDkgMy4xNzYgMi42MDcgMy4xNzYgMi42MDdzLjgxLjA0Ni44MS45NDdjMCAuODUzLS45OTYuOTk1LS45OTYuOTk1SDExLjg0ek04IDIwLjk3N2g3LjExcy0uNDkgMi45ODctMy41MyAyLjk4N1M4IDIwLjk3OCA4IDIwLjk3OHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=')
                | THEO DÕI NHÉ ĐỒNG CHÍ!
            // An unsubscription widget
            amp-web-push-widget(visibility='subscribed', layout='fixed', width='230', height='45')
              button.unsubscribe(on='tap:amp-web-push.unsubscribe') Bỏ theo dõi
          p.mb2.px1
            amp-social-share(type='email')
            amp-social-share(type='facebook', data-param-app_id='1732945056797326')
            amp-social-share(type='linkedin')
            amp-social-share(type='twitter')
            amp-facebook-comments(width='486', height='200', layout='responsive', data-numposts='5', data-href='https://qmau.me/blog/post/' + data.post.slug)
      aside.col-2.xs-hide.sm-hide.md-hide