extends ../layouts/default
include ../mixins/amp-style
include ../mixins/ascii

block head
	title #{data.post.title} - qmau.me
	+amp-style
	script(async='', custom-element='amp-facebook-comments', src='https://cdn.ampproject.org/v0/amp-facebook-comments-0.1.js')
	link(rel='canonical', href='https://qmau.me/blog/post/' + data.post.slug)
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700', rel='stylesheet')
block body
	article
		figure
		.mt3
			h1.h3= data.post.title
			time.block.mb2(datetime=data.post._.publishedDate.format("YYYY-DD-MMTHH:MM:SS+09:00")) #{data.post._.publishedDate.format("MMMM D, YYYY")}
			| 🔖
			each tag, tag_i in data.post.tags
				a(href='/tag/' + tag.key) ##{tag.name}
			br
			br
			strong.mb5= data.post.content.brief.md
			br
			br
		.flex
			.fixed-container-img
				amp-img.contain(layout='fill', src=data.post.image.url alt=data.post.title)
					.commerce-loader(placeholder='')
		br
		p.mb2
			!=data.post.content.full

		section.ampstart-related-section.mb2
			ul.ampstart-related-section-items.list-reset.flex.flex-wrap.m0
				if data.prevPost[0]
					li.col-18.sm-col-6.md-col-6.lg-col-6.pr3.py3
						figure.ampstart-image-with-caption.m0.relative.mb4
							a.text-decoration-none(href='/blog/post/' + data.prevPost[0].slug)
								figcaption.h5.mt1.px3
									| ←　#{data.prevPost[0].title}

				if data.nextPost[0]
					li.col-18.sm-col-6.md-col-6.lg-col-6.pr3.py3
						figure.ampstart-image-with-caption.m0.relative.mb4
							a.text-decoration-none(href='/blog/post/' + data.nextPost[0].slug)
								figcaption.h5.mt1.px3
									| #{data.nextPost[0].title}　→
		amp-facebook-comments(width='486', height='657', layout='responsive', data-width="100%", data-numposts='5', data-href='https://qmau.me/blog/post/' + data.post.slug)
