doctype html
html(⚡='', lang='vi')
	head
		meta(charset='utf-8')
		meta(name='viewport', content="width=device-width,minimum-scale=1,initial-scale=1")
		script(custom-element='amp-sidebar', src='https://cdn.ampproject.org/v0/amp-sidebar-0.1.js', async='')
		script(async='', src='https://cdn.ampproject.org/v0.js')
		style(amp-boilerplate='').
			body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
		noscript
			style(amp-boilerplate='').
				body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700', rel='stylesheet')
		block head
	body
		// Start Navbar
		header.ampstart-headerbar.fixed.flex.justify-start.items-center.top-0.left-0.right-0.pl2.pr4.pt2.md-pt0
			.ampstart-navbar-trigger.pr2.absolute.top-0.pr0.mr2.mt2(role='button', aria-label='open sidebar', on='tap:header-sidebar.toggle', tabindex='0')
				svg.block(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24')
					path(fill='none', d='M0 0h24v24H0z')
					path(fill='currentColor', d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z')
			a.text-decoration-none.inline-block.mx-auto.ampstart-headerbar-home-link.mb1.md-mb0(href='/' aria-label='q,ai')
				amp-img.my0.mx-auto(src='/img/logo-h.svg', width='173', height='50', layout='fixed', alt='')
			.ampstart-headerbar-fixed.center.m0.p0.flex.justify-center.nowrap.absolute.top-0.right-0.pt2.pr3
		// Start Sidebar
		amp-sidebar#header-sidebar.ampstart-sidebar.px3.md-flex.flex-column.justify-content.items-center.justify-center(layout='nodisplay')
			.flex.justify-start.items-center.ampstart-sidebar-header
				.ampstart-navbar-trigger.items-start(role='button', aria-label='close sidebar', on='tap:header-sidebar.toggle', tabindex='0') ✕
			nav.ampstart-sidebar-nav.ampstart-nav
				ul.list-reset.m0.p0.ampstart-label
					li
						a.text-decoration-none.block(href='/')
					amp-img.ampstart-sidebar-nav-image.inline-block.mb4(src='/img/logo-v.svg', width='500', height='300', layout='responsive', alt='Company logo', noloading='')
						.commerce-loader(placeholder='')
					li.ampstart-nav-item
						a.ampstart-nav-link(href='/blog/devinjap') devinjap
					li.ampstart-nav-item
						a.ampstart-nav-link(href='/blog/bac-xiu') Bạc xỉu
					li.ampstart-nav-item
						a.ampstart-nav-link(href='/blog/tra-da') Trà đá
				h3.h7.block.pt3 reach me
				ul.ampstart-social-follow.list-reset.flex.justify-around.items-center.flex-wrap.m0.mb4
					li
						a(href='https://m.me/qmau94', target='_blank', rel='noopener')
							amp-img(src='/img/facebook.svg', width='24', height='24')
					li
						a(href='https://twitter.com/qmau94', target='_blank', rel='noopener')
							amp-img(src='/img/twitter.svg', width='24', height='24')
					li
						a(href='https://github.com/qmau94', target='_blank', rel='noopener')
							amp-img(src='/img/github.svg', width='24', height='24')
					li
						a(href='https://www.linkedin.com/in/qmau94/', target='_blank', rel='noopener')
							amp-img(src='/img/linkedin.svg', width='24', height='24')
					li
						a(href='mailto:mau@qmau.me', target='_blank', rel='noopener')
							amp-img(src='/img/mail.svg', width='24', height='24')
				ul.ampstart-sidebar-faq.list-reset.m0
					li.ampstart-faq-item
						a.text-decoration-none(href='#') About me
					li.ampstart-faq-item
						a.text-decoration-none(href='#') Series
					li.ampstart-faq-item
						a.text-decoration-none(href='/bucket-list') Bucket-list
					li.ampstart-faq-item
						a.text-decoration-none(href='#') Cookie & privacy policy
		// End Sidebar
		// End Navbar
		main#content.main.md-flex.flex-wrap.items-start(role='main')
			section.commerce-blog-wrapper.col-12.md-col-8.px2.pt2.pb3.md-px4.md-pt1.md-pb3
				block body
			aside.commerce-blog-sidebar.commerce-side-panel.xs-hide.sm-hide.md-col-4.md-px4.md-pt6
				h1.h5.md-pb2 blog của Mầu
				p.mb2
					| Hành trình của một lập trình viên tại Nhật Bản 🗼 cùng với chút ☕ Bạc xỉu cho những ý tưởng nghiêm túc và vài cốc 🍵  Trà đá cho những mẩu chuyện vỉa hè.
				h1.h5.md-pb2 Categories
					p.mb2
						ul.list-reset
							li
								a(href='/blog/devinjap', aria-label="devinjap", rel='noopener') Devinjap
							li
								a(href='/blog/bac-xiu', aria-label="bac-xiu", rel='noopener') Bạc xỉu
							li
								a(href='/blog/tra-da', aria-label="tra-da", rel='noopener') Trà đá
				h1.h5.md-pb2 Popular posts
					p.mb2
						ul.list-reset
							if data.topPosts
								each post in data.topPosts
									li.post
										a(href=href="/blog/post/" + post.slug, aria-label=post.title, rel='noopener') #{post.title}
				h1.h5.md-pb2 Recent posts
					p.mb2
						ul.list-reset
							if data.recentPosts
								each post in data.recentPosts
									li.post
										a(href=href = "/blog/post/" + post.slug, aria-label=post.title, rel='noopener') #{post.title}
				h1.h5.md-pb2 Tags
					p.mb2
						if data.allTags
							each tag in data.allTags
								a.tag(href='/tag/' + tag.key)  ##{tag.name}
		footer.commerce-footer.center
			nav.mx-auto.md-mb0.md-pt5.md-pb5
				ul.list-reset.flex.flex-wrap.my0.md-pl4.md-pr4.md-mxn4
					li.pt3.md-pt0.md-px4.col-12.md-col-3.lg-col-2
						h2.commerce-footer-header.h7.pb2 PAGES
						ul.list-reset.pb3.md-mx0
							li
								a.text-decoration-none(href='/blog/devinjap') DevInJap
							li
								a.text-decoration-none(href='/blog/bac-xiu') Bạc xỉu
							li
								a.text-decoration-none(href='/blog/tra-da') Trà đá
							li
								a.text-decoration-none(href='/about') About me
							li
								a.text-decoration-none(href='/bucket-list') Bucket-list
						hr.md-hide.lg-hide.col-12.mx0
					li.pt3.md-pt0.md-px4.col-12.md-col-3.lg-col-2
						h2.commerce-footer-header.h7.pb2 Pet projects
						ul.list-reset.pb3.md-mx0
							li
								a.text-decoration-none(href='https://github.com/qmau-me/kanto-rosen') Kanto-rosen
							li
								a.text-decoration-none(href='https://github.com/qmau-me/keystone-blog') Keystone-blog
						hr.md-hide.lg-hide.col-12.mx0
					li.pt3.md-pt0.md-px4.col-12.md-col-3.lg-col-2
						h2.commerce-footer-header.h7.pb2 Blog của Mầu
						ul.list-reset.pb3.md-mx0
							li
								a.item(href='https://creativecommons.org/licenses/by-nc-nd/4.0/' aria-label='cc license')
									amp-img(src='/img/cc.png', alt='Creative Commons License', width='80', height='15')
							li
								| © 2018 qmau.me
						hr.md-hide.lg-hide.col-12.mx0
					li.pt4.pb3.md-pt0.col-12.md-col-3
						h3.h7.block.pt3 Reach me
						ul.ampstart-social-follow.list-reset.flex.justify-around.items-center.flex-wrap.m0.mb4
							li
								a.inline-block.p1(href='https://m.me/qmau94', target='_blank', rel='noopener' aria-label='facebook qmau')
									amp-img(src='/img/facebook-w.svg', width='24', height='24')
							li
								a.inline-block.p1(href='https://twitter.com/qmau94', target='_blank', rel='noopener' aria-label='twitter qmau')
									amp-img(src='/img/twitter-w.svg', width='24', height='24')
							li
								a.inline-block.p1(href='https://github.com/qmau94', target='_blank', rel='noopener' aria-label='github qmau')
									amp-img(src='/img/github-w.svg', width='24', height='24')
							li
								a.inline-block.p1(href='https://www.linkedin.com/in/qmau94/', target='_blank', rel='noopener' aria-label='linkedin qmau')
									amp-img(src='/img/linkedin-w.svg', width='24', height='24')
							li
								a.inline-block.p1(href='mailto:mau@qmau.me', target='_blank', rel='noopener' aria-label='mail to qmau')
									amp-img(src='/img/mail-w.svg', width='24', height='24')
					li.flex-auto.right-align
						amp-img.ampstart-sidebar-nav-image.inline-block.mb4.xs-hide.sm-hide(src='/img/favicon.svg', width='500', height='500', layout='responsive', alt='Company logo', noloading='')
